#root {
  margin: 0;
  padding: 0;

  position: relative;
  /* align evertything center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MuiLink-root {
  position: relative;
  color: #484848;
  font-size: 1.25rem;
  text-decoration: none;
}

.MuiLink-root::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: #d9d9d9;
}

.MuiLink-root:hover:before {
  width: 50%;
}

.MuiLink-root::before {
  transition: width 0.35s;
}
@media screen and (max-width: 600px) {
  .carouselBtn {
    display: none;
  }
}
.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .background {
    /* display: none; */
    height: 720px;
    /* width: 100%; */
  }
}
.banner {
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 900px;
  width: 100%;
  height: 100%;
}
.banner p {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding: 1rem;
}
.banner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;

  color: #726a6a;
}
